<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="authenticationUrl" value="https://sandbox.salsalabs.com/"/>
    <add key="salsaUserName" value="peter.qs.zhao@gmail.com"/>
    <add key="salsaPassword" value="notenote"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
