<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File"
           layout="${longdate}|${level:uppercase=true}|${threadid}|${message}${onexception:|EXCEPTION OCCURRED\:${exception:format=type,message,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"
           fileName="${basedir}/logs/log.txt"
           archiveFileName="${basedir}/logs/archives/log.{#####}.txt"
           archiveAboveSize="10000000"
           archiveNumbering="Rolling"
           maxArchiveFiles="4"
           concurrentWrites="true"
           keepFileOpen="false"
           encoding="iso-8859-2" />
    <target name="Errorlogfile" xsi:type="File"
           layout="${longdate}|${level:uppercase=true}|${threadid}|${message}${onexception:|EXCEPTION OCCURRED\:${exception:format=type,message,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"
           fileName="${basedir}/logs/error_log.txt"
           archiveFileName="${basedir}/logs/archives/error_log.{#####}.txt"
           archiveAboveSize="10000000"
           archiveNumbering="Rolling"
           maxArchiveFiles="4"
           concurrentWrites="true"
           keepFileOpen="false"
           encoding="iso-8859-2" />
    <target name="db" xsi:type="Database" keepConnection="true" useTransactions="true"
       dbProvider="sqlserver" connectionString="Will be overwritten with the db connection string from environments.xml when application starts.">
      <commandText>
        INSERT INTO ImporterLogs([time_stamp], [level], [threadId], [message], [exception]) VALUES (@time_stamp,@level,@threadid,@message,@exception)
      </commandText>
      <parameter name="@time_stamp" layout="${date}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@threadid" layout="${threadid}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@exception" layout="${exception:format=type,message,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}"/>
    </target>
    <target name="console" xsi:type="Console" layout="${longdate}|${level:uppercase=true}|${threadid}|${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Error" writeTo="Errorlogfile" />
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="db" />
  </rules>
</nlog>
