<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File"
           layout="${longdate}|${level:uppercase=true}|${threadid}|${message}${onexception:|EXCEPTION OCCURRED\:${exception:format=type,message,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"
           fileName="${basedir}/logs/log.txt"
           archiveFileName="${basedir}/logs/archives/log.{#####}.txt"
           archiveAboveSize="10000000"
           archiveNumbering="Rolling"
           maxArchiveFiles="4"
           concurrentWrites="true"
           keepFileOpen="false"
           encoding="iso-8859-2" />
    <target name="Errorlogfile" xsi:type="File"
           layout="${longdate}|${level:uppercase=true}|${threadid}|${message}${onexception:|EXCEPTION OCCURRED\:${exception:format=type,message,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"
           fileName="${basedir}/logs/error_log.txt"
           archiveFileName="${basedir}/logs/archives/error_log.{#####}.txt"
           archiveAboveSize="10000000"
           archiveNumbering="Rolling"
           maxArchiveFiles="4"
           concurrentWrites="true"
           keepFileOpen="false"
           encoding="iso-8859-2" />
    <target name="console" xsi:type="Console" layout="${longdate}|${level:uppercase=true}|${threadid}|${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Error" writeTo="Errorlogfile" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>
