<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="log.txt" layout="${longdate}|${level:uppercase=true}|${threadid}|${message}${onexception:|EXCEPTION OCCURRED\:${exception:format=type,message,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"/>
    <target name="Errorlogfile" xsi:type="File" fileName="error_log.txt" layout="${longdate}|${level:uppercase=true}|${threadid}|${message}${onexception:|EXCEPTION OCCURRED\:${exception:format=type,message,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"/>
    <target name="console" xsi:type="Console" layout="${longdate}|${level:uppercase=true}|${threadid}|${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Error" writeTo="Errorlogfile" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>
