
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


IF OBJECT_ID('dbo.FieldMappings', 'U') IS NOT NULL
DROP TABLE dbo.FieldMappings
GO

CREATE TABLE [dbo].FieldMappings(
        [Id] [int] IDENTITY(1,1) NOT NULL,
		[        
PRIMARY KEY CLUSTERED
(
        [Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

GO
